* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.index-body {
    width: auto;
    background-image: url("https://media1.giphy.com/media/3oz8xQS6grCbtPqK7m/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav {
    height: 100px;
    width: 100%;
    margin: 25px 0;
}

.nav-ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.nav-li {
    display: flex;
    justify-content: center;
    list-style: none;
    border: 2px solid black;
    padding: 5px 5px;
    width: 20%;
    transition: 0.3s;
    background-color: rgba(0, 185, 0, 0.5);
}

.nav-li:hover {
    transform: translateY(6px);
    transition: 0.3s;
    background-color: rgba(225, 0, 0, 0.5);
    cursor: pointer;
}

.nav-li-link {
    text-decoration: none;
    color: black;
    font: bold 50px 'Architects Daughter', cursive;
}

.index-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 350px);
    padding: 100px 50px 50px;
    justify-content: space-around;
}

.index-cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(218, 223, 225, 0.7)
}

.index-player-photo {
    width: 80%;
    height: 300px;
    padding: 30px 0;
}

.index-player-name {
    font: bold 35px 'Architects Daughter', cursive;
}

.index-player-score {
    font: bold 20px "Comic Sans MS", cursive;
    padding: 30px 0;
}
.index-bg-title{
    font: bold 70px "Comic Sans MS", cursive;
    color: white;
}